:root{
    --header-bg: #484a4f;
    --box-font-color: rgb(2, 48,71);
    --main-font: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    --box-outline-bg: #0a40b4;
    --sub-font-colour: #fff;
}

*{
    margin: 0;
    border: 0;
    font-family: var(--main-font);
    box-sizing: border-box;
}

body{
    display:block;

}

header{
    display: flex;
    background-color: var(--header-bg);
    padding: 20px;
}

header h1{
    text-align: left;
    display: inline;
    background-color: var(--box-outline-bg);
    color: var(--box-font-color);
    padding: 5px;
    font-size: 35px;
}

 nav {
    display: block;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-decoration-line: underline;
    color: var(--box-outline-bg);

}

nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    background-color: var(--header-bg);

}

nav > ul > li{
    padding: 15px;
}

figure{
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 30px;
}

.banner > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

section{
    display: block;
}

article, main, footer {
    margin-top: 15px;
    margin: 0 auto;
    padding: 15px 60px;
}

main{
    padding:0, 60px;
    
}

.aside-heading{
    display: flex;
    margin-bottom: 70px;
    width: 100%;
}

p{
    padding-left: 25px;
}

.profile-pic{
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
}

#Portrait {
    position: relative;
    display: block;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    border: 5px solid var(--box-outline-bg);
}

#work-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.previous-work{
    width: 40%;
    height: 300px;
    border: 5px solid var(--box-outline-bg);
    margin: 1%;
}

.pw-img {
    width: 100%;
    height: 100%;
}

.contact {
    display: block;
    color: var(--box-font-color);
    text-decoration: underline;
    font-size: 40px;
    width: 100%;
}

.contact-infos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contact > ul > li {
    display: inline-block;
    width: auto;
}

ul{
    list-style: none;
}

h1{
    display: block;
    width: 450px;
}

h2 {
    text-align: right;
    min-width: 200px;
    padding-right: 10px;
    border-right: 5px solid;
    font-size: 40px;
    margin-block-start: 1px;
    margin-block-end: 1px;
}
